<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GmodAddonCompressor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GmodAddonCompressor.Properties.Settings>
            <setting name="_imageWidthLimitIndex" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="_imageHeightLimitIndex" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="_useFFMpegForCompress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_unlockedUI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_compressVTF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_compressWAV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_compressMP3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_compressOGG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_compressJPG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_compressPNG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_compressLUA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_changeOriginalCodeToMinimalistic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_reduceExactlyToLimits" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_reduceExactlyToResolution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_keepImageAspectRatio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_imageMagickVTFCompress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_imageSkipWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_imageSkipHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_wavRate" serializeAs="String">
                <value>22050</value>
            </setting>
            <setting name="_wavRateListIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="_imageReducingResolutionListIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </GmodAddonCompressor.Properties.Settings>
    </userSettings>
</configuration>